extends ../layouts/default

block content
  all-my-secret-api-keys
  main.tre-d
    p-3d(three-d-text="night-mode" data-night-mode-toggle).night-mode night-mode [x]
    header
      include partials/box
      include partials/box
      include partials/box
      include partials/box
      img-3d.me
      p-3d(three-d-text="").writer

    section.projects
      header
        p-3d-medium(three-d-text="my most recent work/hacks..").green-bg my most recent work/hacks/talks..
      ol
        li.project
          a(href="https://anolog.org" target="_blank")
            img(data-lazy="/images/projects/anolog.png")
          span.red #[b convenia] talk all you want, we’ll keep the TL;DR.
        li.project
          a(href="https://anolog.org" target="_blank")
            img(data-lazy="/images/projects/anolog.png")
          span.red #[b policy dashboard] real-time policy insights, clearly delivered from backend to boardroom.
        li.project
          a(href="https://anolog.org" target="_blank")
            img(data-lazy="/images/projects/anolog.png")
          span.red #[b youtube api clone]  simulating YouTube features to master backend architecture.
  body-scripts
    script(src='/scripts/main-home.bundle.js')